@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4070f4;
}

.container{
  position: relative;
  max-width: 1200px;
  width: 100%;
  border-radius: 8px;
  padding: 30px;
  margin: 0 25px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  max-height: 500px; /* Atur tinggi maksimum container di sini */
  overflow-y: auto;
}

.container::-webkit-scrollbar {
  width: 10px; /* Lebar scrollbar */
}

.container::-webkit-scrollbar-thumb {
  background-color: #e0e0e0; /* Warna latar belakang thumb scrollbar */
  border-radius: 3px; /* Border radius untuk thumb scrollbar */
  max-height: -3px;
}

.container::-webkit-scrollbar-track {
  background-color: #fff; /* Warna latar belakang track scrollbar */
  border-radius: 100px;
}

.tab input{
  width: 100%; 
  padding: 10px;
  margin-bottom: 14px;
  box-sizing: border-box; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  background: linear-gradient(to bottom, #fefefe, #e3e3e3); 
  color: #333; 
  font-size: 14px; 
}

.tab select{
  width: 100%; 
  padding: 10px;
  margin-bottom: 14px;
  box-sizing: border-box; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  background: linear-gradient(to bottom, #fefefe, #e3e3e3); 
  color: #333; 
  font-size: 14px; 
}

/* h5{
  color: #333;
  margin-bottom: 40px;
  font-size: 1px; 
  margin-left: 25px;
}

@media screen and (min-width: 192px) {
  h5 {
    font-size: 32px;
  }
}

@media screen and (min-width: 256px) {
  h5 {
    font-size: 40px;
  }
} */

.container form .title{
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  margin: 8px 0px;
  margin-left: 25px;
  color: #333;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 25px;
  margin-right: 25px;
}

.form-group{
  margin-left: 25px;
  margin-right: 25px;
}
form .tab .input-field{
  display: flex;
  width: calc(100% / 3 - 15px);
  flex-direction: column;
  margin: 4px 0;
  margin-left: 25px 25px;
}
.input-field label{
  font-size: 14px;
  font-weight: 500;
  color: #2e2e2e;
}
.input-field input,
.input-field select{
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 0 15px;
  height: 35px;
  margin: 8px 0;
}

.input-field input:focus,
.input-field select:focus,
.input-field input:valid,
.input-field select:valid,
.input-field input:not(:placeholder-shown){
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.form-group label{
  font-size: 14px;
  font-weight: 500;
  color: #2e2e2e;
  margin-bottom: 10px;
}


